@font-face {
  font-family: "HP"; /* Nombre que asignas a tu fuente */
  src: url("../assets/Fonts/parry-hotter/ParryHotter.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--tipo-text);
}

body {
  font-family: "HP";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../assets/images/hp.jpg);
}

header {
  background-color: #343a40;
  color: white;
  height: 80px;
  font-size: 25px;
  padding: 0.5em 0;
  max-width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
  text-align: center;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.characters {
  padding: 0 300px;
}

.characters h1 {
  font-size: 3rem;
}

/* Cards */

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.grid .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 50px;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 7px 10px 31px -8px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 7px 10px 31px -8px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 7px 10px 31px -8px rgba(0, 0, 0, 0.73);
  background-color: #ffffffb9;
}

.grid .card img {
  max-height: 230px;
  max-width: 230px;
  border-radius: 6px;
}

.card-name {
  font-size: 1.8rem;
}

/* Móvil */
@media only screen and (min-width: 425px) and (max-width: 768px) {
  main {
    padding: 0;
  }

  .characters {
    padding: 0;
  }

  .characters h1 {
    padding-top: 40px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 0;
  }
}

/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0;
  }

  .characters {
    padding: 0;
  }

  .characters h1 {
    padding-top: 0;
  }

  .grid .card {
    margin: 0;
  }
}

/* Tablet landscape */

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .grid {
    justify-content: center;
    margin: 0;
  }

  .characters {
    padding: 0;
    margin: 0;
  }

  .characters h1 {
    padding-top: 0;
  }

  .grid .card {
    margin: 0;
  }
}

/* Laptop */

@media only screen and (min-width: 1367px) and (max-width: 1600px) {
  .grid {
    justify-content: center;
    margin: 0;
  }

  .characters {
    padding: 0;
    margin: 0;
  }

  .characters h1 {
    padding-top: 0;
  }

  .grid .card {
    margin: 0;
  }
}
